.column {
    display: flex;
    flex-direction: column;
    background: var(--foreground);
    height: fit-content;
    min-width: 290px;
 
}
.droppable {
    background: var(--foreground);
    
}
.column-header {
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}
 
.column-header p {
    margin: 0px;
    padding: 0px;
    font-weight:500;
    color: white;


}
.column-header-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}
.column-header-buttons {
    display: flex;
    position: relative;

}
.column-header-buttons button {
    color: var(--links-color);
}
.column-header-buttons button:hover {
    color: white;
}
.column-edit-button {
    background: none;
    bordeR: none;
    cursor: pointer;
}
.add-task-btn {
    background: none;
    border: none;
    transition: .1s;
    cursor: pointer;
}



.column main {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
