.board {
 display: flex;
 flex-direction: column;
 height: 100%;
 padding: 15px;
}
.board-header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "satoshi variable";
    font-weight: bolder;
    font-size: 15px;
}
.board-header h2 {
  margin: 0;
  color: white;
}

.add-column-btn {
  background:none;
  border: 2px solid var(--logo-color);
  color: var(--logo-color);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  transition: .1s;
  border-radius: 5px;
}
.add-column-btn:hover {
  background: var(--logo-highlight);
  color: white;
  border: 2px solid var(--logo-highlight)

}
.board-content {
  display: flex;
  gap: 5px; 
  justify-content: flex-start;
  overflow: scroll;
  padding: 15px;
  border: 3px solid var(--card);
  border-radius: 5px;
  height: 80%;
}
.empty {
  color: rgba(255, 255, 255, 0.618);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty span {
  cursor: pointer;
  font-weight: bolder;
}
.empty span:hover {
  text-decoration: underline;
}
