.board {
 display: flex;
 flex-direction: column;
 position: relative;
 height: 100vh;
 padding: 25px;
}
.board-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "satoshi variable";
    font-weight: bolder;
    font-size: 15px;
}
.board h2 {
  margin: 0;
  color: white;

}
.board-content {
    display: flex;
    gap: 5px; 
    justify-content: flex-start;
}