/* root styles */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "satoshi variable";
    src: url("/src/Tools/Satoshi-Variable.ttf");
}
:root {
    --background: rgb(32,34,39);
    --foreground: rgb(41,43,49);

    --card: rgb(48, 51, 58);
    --nav-font-color: rgb(255, 255, 255);
    --links-color: rgb(162, 162, 162);
    --logo-color: rgb(82,100,191);
    --logo-highlight: rgb(81, 109, 247);

}
body {
    background: var(--background);
    margin: 0;
    padding: 0;
    color: black;
    font-family: "satoshi variable" ;
    overflow: hidden
}
#root {
    height: 100vh;
    overflow: hidden;

}
.root-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}
.side-nav-bar {
    background: var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.side-nav-bar h1 {
    font-size: 1.75em;
    display: flex;
    gap: 0px;
    align-items: center;
    color: var(--nav-font-color);
    padding: 15px;
    padding-top: 20px;
    margin: 0;
    font-family: "Radio Canada Big"; 
    border-bottom: 1px solid var(--links-color);
}
.nav-mobile-toggle {
    display:none;
}
.highlight-text {
    color: var(--logo-color);
}
.side-nav-bar h1 svg {
    color: var(--logo-highlight);
    margin: 5px;
}
.links-container {
    color: var(--links-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "satoshi variable";
    padding: 15px;

}
.links-container a, .links-container p {
    color: var(--links-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: 0;
}

.links-container p > svg:last-of-type {
    margin-left: auto;
}
.links-container a:hover, .links-container p:hover {
    color: white;
}
.links-container .active {
    font-weight: 500;
    color: white;
}
.project-link-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    border-left: 1px solid var(--links-color);
    max-height: 0;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.project-link-container.open {
    animation-name: dropDown
}
.project-link-container.close {
    animation-name: pullUp;
    animation-duration: .1s;
}



.project-link-container a{
    display: flex;
    font-size: .95em;
    gap: 5px;
    justify-content: flex-start;
    user-select: none;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.project-link-container svg {
    flex-shrink: 0;
}
.main-screen{
    position: relative;
}
@keyframes dropDown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 300px;
    }
}
@keyframes pullUp {
    0% {
        max-height: 300px;
        opacity: 1
    }
   
    100% {
        max-height: 0;
        opacity: 0
    }
}


@media (max-width: 430px) {
    .root-layout {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .nav-mobile-toggle {
        display: block;
    }
    .side-nav-bar {
        position: relative;
        width: 100%;
    }
    .links-container {
        display: none;
    }
    .links-container.expand {
        display: flex;
        z-index: 1000;
        position: absolute;
        top: 100%;
        background: var(--foreground);
        box-shadow: 5px 5px 5px var(--background);
        animation-name: navExpand;
        animation-duration: 2s;
    }

    @keyframes navExpand {
        0% {
            display: none;
        }
        100% {
            display: flex;
        }
    }
}


